<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CharactersContainer" connectionString="metadata=res://*/Characters.csdl|res://*/Characters.ssdl|res://*/Characters.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=TheGame;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>